.calculator {
  margin: 100px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  /* background: rgba(15, 23, 42, 1); */
  /* color: rgba(255, 255, 255, 1); */
  height: 667px;
  width: 375px;
  position: relative;
}

.themeButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выровнять кнопки и текст по левому краю */
  gap: 10px;
  margin-top: 20px;
}

.themeButton {
  display: flex;
  align-items: center;
  gap: 10px; /* Расстояние между кнопкой и текстом */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.themeButton::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: currentColor; /* Использовать цвет кнопки */
  transition: transform 0.2s ease;
}

.themeButton:hover::before {
  transform: scale(1.2);
}

.themeLabel {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
}

.theme-button-1::before {
  background: linear-gradient(180deg, #d8b4fe 0%, #c084fc 100%);
}

.theme-button-2::before {
  background: linear-gradient(180deg, #f43f5e 0%, #fb7185 100%);
}

.theme-button-3::before {
  background: linear-gradient(180deg, #4ade80 0%, #16a34a 100%);
}

.theme-button-4::before {
  background: linear-gradient(180deg, #22d3ee 0%, #67e8f9 100%);
}

.theme-button-5::before {
  background: #f5f4f4;
  color: var(--numbers-light);
}

.theme-button-6::before {
  background: #000000;
}

.theme-background-rosy {
  background: #e9d5ff;
}

.theme-background-purple {
  background: #fecdd3;
}

.theme-background-green {
  background: #bbf7d0;
}

.theme-background-cyan {
  background: #a5f3fc;
}

.theme-background-white {
  background: rgb(255, 255, 255);
}

.theme-background-black {
  background: rgba(15, 23, 42, 1);
}

.theme-Result-rosy {
  background: linear-gradient(180deg, #9333ea 0%, #c084fc 100%);
  color: var(--numbers-light);
}

.theme-Result-purple {
  background: linear-gradient(180deg, #be123c 0%, #f43f5e 100%);
  color: var(--numbers-light);
}

.theme-Result-green {
  background: linear-gradient(180deg, #15803d 0%, #22c55e 100%);
  color: var(--numbers-dark);
}

.theme-Result-cyan {
  background: linear-gradient(180deg, #0e7490 0%, #22d3ee 100%);
  color: var(--numbers-dark);
}

.theme-Result-white {
  background: var(--bgNumbers-light);
  color: var(--numbers-light);
}

.theme-Result-black {
  background: var(--bgNumbers-dark);
  color: var(--numbers-dark);
}

.theme-background-rosy {
  background-color: #e9d5ff;
}

.theme-background-purple {
  background-color: #fecdd3;
}

.theme-background-green {
  background-color: #bbf7d0;
}

.theme-background-cyan {
  background-color: #a5f3fc;
}

.theme-background-white {
  background-color: rgb(255, 255, 255);
}

.theme-background-black {
  background-color: #0f172a;
}


.settings {
  z-index: 102;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 667px;
  width: 375px;
  /* background: white; */
  color: black;
}
.settings li {
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.settings li:last-child {
  margin-bottom: 0;
}

.settingsTitle {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  height: 30px;
  text-align: center;
  margin: 0;
}

.settingsButton {
  border: none;
  /* background-color: white; */
}

.SettingsAboutMeText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  margin: 0 32px 0 32px;
}

.settingsArrowLeft {
  left: 20px;
  top: 20px;
  position: absolute;
  z-index: 103;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.settingsCross {
  right: 20px;
  top: 20px;
  position: absolute;
  z-index: 103;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.settings div {
  transition: opacity 0.3s ease;
}

/* .calculator.dark {
  background: var(--accentLight-dark);
  color: var(--numbers-light);
} */

.history {
  height: 160px;
  position: relative;
}

.history li {
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: rgba(148, 163, 184, 1);
  margin: 0 30px 14px 0;
}

/* #history.dark li {
  color: var(--numbers-light);
} */

.history-list {
  position: absolute;
  bottom: calc(-0% - 15px);
  left: 0;

  margin: 0 0 0 20px;
  width: 360px;
}

.containerHistory {
  height: 170px;
  margin: 30px 0 10px 0;
}
.display {
  text-align: right;
  font-size: 40px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: -14px 30px 0 26px;
  height: 53px;
}

.display.dark {
  color: var(--accentLight-dark);
  border-bottom: 1px solid var(--numbers-dark);
}

.display input {
  width: 100%;
  height: 40px;
  font-size: 24px;
  border: none;
  outline: none;
  text-align: right;
}

.small-font {
  font-size: 35px;
  margin-top: -4px;
  height: 45px;
}
.smaller-font {
  font-size: 31px;
  margin-top: 4px;
  height: 38px;
}
.extra-small-font {
  font-size: 26px;
  margin-top: 10px;
  height: 31px;
}
.sMOLL {
  font-size: 18px;
  margin-top: 15px;
  height: 22px;
}

.sMOLLExtra {
  font-size: 15px;
  margin-top: 15px;
  height: 20px;
}

.generalBtn {
  display: flex;
  position: relative;
  top: 25.5px;
  left: 18.6px;
  color: white;
}

.btnOperator {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
}

.btn:hover {
  color: white;
}

.container {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.buttonsNumber:hover {
  background-color: #b4b4b4da;
}

.buttonsNumber {
  width: 69px;
  height: 49px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 1);
  /* background: linear-gradient(180deg, #0f172a 0%, #334155 100%); */
  border-radius: 12px;
  /* color: rgba(154, 154, 154, 1); */
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 10px;
}

/* .buttonsNumber.dark {
  background: var(--bgNumbers-light);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  color: var(--numbers-light);
} */

.operator {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .operator.dark {
  background: var(--bgNumbers-light);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  color: var(--numbers-light);
} */

/* .operator:hover {
  background-color: #d15f13;
} */

.zero {
  width: 100px;
  border-radius: 23px;
}

/* .clear {
  color: white;
} */

.calculate {
  /* color: white; */
  width: 69px;
  height: 119px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 1);

  font-size: 28px;
}

/* .calculate.dark {
  background: linear-gradient(180deg, #9a9a9a 0%, #c4c4c4 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  color: var(--accentdark-light);
} */

.calculate:hover {
  background-color: #005500;
}
